<!-- Styles -->
<style scoped>
  .clickable {
    cursor: pointer;
  }

  .clickable > input {
    cursor: pointer;
    color: white;
  }

  .page-title {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  }

  .page-title h2 {
    font-size: 18px;
    font-weight: 600;
  }

  .form-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
  }

  .form-item.nsfw-item {
    justify-content: center;
  }

  .form-item.nsfw-item span {
    margin-right: 15px;
  }

  .form-item label {
    margin-right: 20px;
  }

  .select-wrapper {
    width: 100%;
  }
</style>

<!-- JavaScript -->
<script defer>
  class EditSong {
    initialize() {
      document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('select');
        const instances = M.FormSelect.init(elems);
      });
    }
  }

  const editSongInstance = new EditSong();
  editSongInstance.initialize();
</script>

<!-- HTML -->
<div>
  <div class='page-title'>
    <h2> Edit Song </h2>
  </div>
  <div>
    <%= form_with model: @song do |f| %>
      <div class='input-field form-item'>
        <%= f.text_field :title %>
        <%= f.label :title, 'Song Title:'%>
      </div>
      <div class='input-field form-item'>
        <%= f.text_field :url %>
        <%= f.label :url, 'Song URL:'%>
      </div>
      <div class='input-field form-item'>
        <%= f.text_field :start_time %>
        <%= f.label :start_time, 'Start Time (not required, default 0.00):'%>
      </div>
      <div class='input-field form-item'>
        <%= f.text_field :end_time %>
        <%= f.label :end_time, 'End Time (not required, default end of song):'%>
      </div>
      <div class='input-field form-item'>
        <%= f.number_field :decibels %>
        <%= f.label :decibels, 'Decibels:'%>
      </div>
      <div class="input-field form-item">
        <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, { multiple: true }) %>
        <%= f.label :tag_ids, 'Select Tags' %>
      </div>
      <div class='form-item nsfw-item'>
        <label>
          <%= f.radio_button :nsfw, true, :checked => true %>
          <span>NSFW</span>
        </label>
        <label>
            <%= f.radio_button :nsfw, false %>
            <span>SFW</span>
        </label>
      </div>
      <div class='form-item'>
        <%= f.submit class: 'waves-effect waves-light btn clickable' %>
        <%= link_to "Cancel", songs_url, class: 'waves-effect waves-light btn' %>
      </div>
    <% end %>
  </div>
</div>
